version: '3.8'

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      DATABASE_URL: "postgresql://user:password@db:5432/portal_akademik"
      # Tambahkan variabel lingkungan lain yang diperlukan di sini
    depends_on:
      - db
    volumes:
      - ./backend:/app # Opsi: untuk pengembangan langsung
      - /app/node_modules # Opsi: untuk menjaga agar node_modules tetap berada di dalam kontainer

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "80:80"
    depends_on:
      - backend

  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: portal_akademik
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
